.header-bg {
  width: 1220px;
  height: 65px;
  margin: 53px 350px 136px 350px;
  display: flex;
}
.ul-class-item {
  display: flex;
  margin-left: 195px;
  margin-top: 20px;
}
.left-header-box {
  display: flex;
}
.right-header-box {
  background-color: #6b77e5;
  padding: 21px 35px 22px 35px;
  width: 184px;
  height: 65px;
  margin-left: 40px;
}
.header-box {
  color: #fff;
  font-size: 18px;
  line-height: 21.87px;
}
.active {
  margin-right: 30px;
  color: #37393f;
}
.activ {
  color: #37393f;
}
.section-box {
  width: 1220px;
  height: 510px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 60px;
}
.top-section-block {
  width: 283px;
  height: 86px;
  margin: 0px 468px 41px 468px;
}
.top-section-text {
  font-size: 20px;
  margin-left: 75px;
}
.top-section-text02 {
  font-size: 40px;
  color: #37393f;
  margin-top: 16px;
}
.bottom-section-class {
  width: 1220px;
  height: 383px;
  display: flex;
  justify-content: space-between;
}
.left-section-block {
  width: 386px;
  height: 383px;
  background-color: #f4f4f4;
}
.left-section-textt {
  margin-top: 58px;
  font-size: 25px;
  line-height: 31.75px;
  text-align: center;
  
  margin-right: 70px;
}
.left-section-textt02 {
  font-size: 18px;
  line-height: 26.31px;
  text-align: center;
  width: 300px;
}
.left-section-textt03 {
  margin-top: 37px;
  margin-right: 125px;
  text-align: center;
  color: #6b77e5;
  font-size: 18px;
}
.left-icon-box {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  background-color: #40ddb6;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-section-block {
  width: 386px;
  height: 383px;
  background-color: #f4f4f4;
}
.center-section-text {
  margin-top: 58px;
  font-size: 25px;
  line-height: 31.75px;
  text-align: center;

  margin-right: 70px;
}
.center-section-text02 {
  font-size: 18px;
  line-height: 26.31px;
  text-align: center;
  width: 300px;
}
.center-icon-box {
  width: 72px;
  height: 72px;
  background-color: #6b77e5;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}
.center-section-text03 {
  margin-top: 37px;
  margin-right: 90px;
  text-align: center;
  color: #6b77e5;
  font-size: 18px;
}
.right-section-block {
  width: 386px;
  height: 383px;
  background-color: #f4f4f4;
}
.right-section-text {
  margin-top: 58px;
  font-size: 25px;
  line-height: 31.75px;
  text-align: center;
  
  margin-right: 70px;
}
.right-section-text02 {
  font-size: 18px;
  line-height: 26.31px;
  text-align: center;
  width: 300px;
}
.right-icon-box {
  width: 72px;
  height: 72px;
  background-color: #40ddb6;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}
.image-div {
  width: 1920px;
  height: 557px;
  position: relative;
}
.picture01 {
  width: 1920px;
  height: 557px;
  position: absolute;
}
.center-image {
  width: 511px;
  height: 270.5px;
  margin: 143px 604px;
  position: absolute;
}
.center-image-text {
  font-size: 18px;
  line-height: 21.78px;
  color: #37393f;
  margin-left: 120px;
}
.center-image-text02 {
  font-size: 40px;
  line-height: 48.4px;
  color: #37393f;
  margin-left: 50px;
}
.text-class {
  font-size: 18px;
  line-height: 26.31px;
  color: #37393f;
  text-align: center;
  margin-right: 20px;
}
.icon-box {
  text-align: center;
  background-color: #6b77e5;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  margin-top: 47px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid {
  font-size: 30px;
  color: white;
}
.last-section {
  margin: 130px 300px 130px 300px;
}
.last-top-block {
  width: 348px;
  height: 86px;
  margin: 0px auto;
}
.block01 {
  
  margin-left: 110px;
  font-size: 18px;
  line-height: 21.78px;
  color: #37393f;
}
.block02 {
  text-align: center;
  font-size: 40px;
  line-height: 48.4px;
  color: #37393f;
  /*  */
  font-family: 'Poppins';
  
}
.section-block{
  width: 1220px;
  height: 532px;
  display: flex;
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.last01{
  width: 386px;
  height: 532px;
  position: relative;
}
.item1{
  position: absolute;
}
.on-item1{
  background-color: white;
  width: 341px;
  height: 114px;
  position: absolute;
  bottom: 22px;
  left: 22px;
}
.test01{
  font-size: 25px;
  line-height: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-test01{
  font-size: 18px;
  line-height: 24.33px;
  display: flex;
  justify-content: center;
}
.last02{
  width: 386px;
  height: 532px;
  position: relative;
}
.item2{
  position: absolute;
}
.on-item2{
  background-color: white;
  width: 341px;
  height: 114px;
  position: absolute;
  bottom: 22px;
  left: 22px;
}
.last03{
  width: 386px;
  height: 532px;
  position: relative
}
